.episodes {
  background-color: var(--champagne-color);
}

.episodes-latest {
  background-color: var(--white-color);
}

.episodes__container {
  display: flex;
  flex-direction: column;
}

.episodes__grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 100px;
}

.episodes__content {
  position: relative;
  z-index: 1;
}

.episodes__content::before {
  position: absolute;
  bottom: -143px;
  left: -122px;
  z-index: -1;
  width: 240px;
  height: 240px;
  content: "";
  background-image: url("./../img/episode-podcast/scribble.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.episodes__content .episodes__grid._active {
  margin-bottom: 0px;
}


.episodes__platform {
  display: flex;
  column-gap: 10px;
  align-self: flex-end;
  color: white;
}

.episodes__text {
  font-size: var(--card-title-large-fs);
  font-weight: 700;
  line-height: 140%;
  color: var(--pewterBlue-color);
  letter-spacing: -0.08em;
}

.episodes__link-all {
  display: inline-flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
  .episodes__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .episodes__grid::after {
    top: -63px;
    right: -48px;
    width: 91px;
    height: 99px;
  }
}


.episodes__title-latest {
  margin-bottom: 100px;
}

.episodes__tabs {
  display: flex;
  flex-direction: column;
}

.episodes__nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 100px;
  overflow: scroll;
  border-bottom: 1.5px solid black;
}

@media only screen and (max-width: 768px) {
  .episodes__nav {
    border-bottom: none;
  }
}

.episodes__button {
  height: 52px;
  padding-inline: 16px;
  font-size: clamp(1.125rem, 1.0625rem + 0.3125vw, 1.4375rem);
  color: var(--davysGrey-color);
  cursor: pointer;
  background: transparent;
  border: none;
}

.episodes__button._active {
  font-weight: 700;
  color: var(--vermillion-color);
}

.episodes__grid:not(._active) {
  display: none;
}