.hero {
  position: relative;
  padding-top: 64px;
  background-color: var(--champagne-color);
}

.hero--about {
  padding-bottom: 256px;
}

.hero--news {
  position: relative;
  padding-bottom: 117px;
}
.hero--blog{
  padding-bottom: 46px;
}
.hero__form {
  position: absolute;
  bottom: -37px;
  left: 50%;
  width: 570px;
  transform: translateX(-50%);
}
@media only screen and (max-width: 1024px){
  .hero__form {
    width: 400px;
  }
}
@media only screen and (max-width: 600px){
  .hero__form {
    width: 300px;
  }
}
.hero__form-search {
  width: 100%;
  height: 74px;
  padding: 25px 40px 25px 88px;
  border: 1.5px solid var(--black-color);
  border-radius: 16px;
  box-shadow: 6px 6px 0 0 var(--pewterBlue-color);
}

.hero__form-wrapper {
  position: relative;
}

.hero__form-wrapper::before {
  position: absolute;
  top: 50%;
  left: 40px;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("./../icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1023px) {
  .hero--about {
    padding-bottom: 216px;
  }
}

@media only screen and (max-width: 768px) {
  .hero--about {
    padding-bottom: 45px;
  }
}

.hero__title {
  margin-bottom: 40px;
}

.hero__description {
  margin-bottom: 60px;
  text-align: center;
}

.hero__title,
.hero__description {
  margin-inline: auto;
}

.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 120px;
}

.hero__buttons--about {
  margin-bottom: 0;
}

.hero__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hero__link:hover {
  color: var(--white-color);
}

.hero__button {
  display: block;
}

@media only screen and (max-width: 1023px) {
  .hero__button {
    margin-bottom: 80px;
  }
}

.hero-slider {
  max-width: 1440px;
  height: 373px;
  margin-inline: auto;
  margin-bottom: 120px;

  &__wrapper {
  }

  &__card {
    width: 373px;
    background-color: blueviolet;
    border-radius: 12px;
  }


  &__platform {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  &__icon {
  }

  &__text {
    font-size: var(--card-title-large-fs);
    font-weight: 700;
    line-height: 120%;
    color: var(--pewterBlue-color);
    letter-spacing: -0.08em;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
  }

  &__episode-1 {
    background-image: url("../img/hero/hero__episode-1.webp");
  }

  &__episode-2 {
    background-image: url("../img/hero/hero__episode-2.webp");
  }

  &__episode-3 {
    background-image: url("../img/hero/hero__episode-3.webp");
  }

  &__episode-4 {
    background-image: url("../img/hero/hero__episode-4.webp");
  }

  &__episode-5 {
    background-image: url("../img/hero/hero__episode-5.webp");
  }
}

@media only screen and (max-width: 1024px) {
  .hero-slider {
    height: 300px;
  }

  .hero-slider__card {
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-slider {
    height: 250px;
  }

  .hero-slider__card {
    width: 250px;
  }
}

.hero__support {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1.5px solid var(--black-color);
  border-bottom: 1.5px solid var(--black-color);
}

.hero__support-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.hero__support-links {
  display: flex;

}

.hero__support-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

}

.hero__support-link--spotify {
  background-image: url("./../icons/sponsors/medium/spotify-icon.svg");
}

.hero__support-link--googlePodcasts {
  background-image: url("./../icons/sponsors/medium/googlePodcasts-icon.svg");
}

.hero__support-link--youtube {
  background-image: url("./../icons/sponsors/medium/youtube-icon.svg");
}

@media only screen and (max-width: 1023px) {
  .hero__support {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .hero__support-links {
    flex-direction: column;
  }
}

.hero {
  &__subscribers-row {
    position: absolute;
    bottom: -330px;
    left: 50%;
    display: flex;
    gap: 20px;
    transform: translateX(-50%);
  }

  &__subscribers-row::after {
    position: absolute;
    right: -130px;
    width: 120px;
    height: 120px;
    content: "";
    background-image: url("../img/hero/about-page/swirl.svg");
    background-position: center center;
    background-size: cover;
  }

  @media only screen and (max-width: 1023px) {
    &__subscribers-row {
      bottom: -260px;
    }
  }

  &__subscribers-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 59px 128px;
    background-color: var(--white-color);
    border: 2px solid var(--black-color);
    border-radius: 8px;
    box-shadow: 6px 6px 0 0 var(--vermillion-color);
  }

  @media only screen and (max-width: 1100px) {
    &__subscribers-card {
      padding: 49px 84px;
    }
  }
  @media only screen and (max-width: 1100px) {
    &__subscribers-card {
      padding: 29px 54px;
    }
  }
  @media only screen and (max-width: 768px) {
    &__subscribers-row::after {
      top: -50px;
      right: -30px;
      width: 45px;
      height: 45px;
    }
    &__subscribers-row {
      bottom: -90px;
      gap: 10px;
    }
    &__subscribers-card {
      padding: 5px 5px;
    }
  }

  &__subscribers-number {
    font-size: var(--section-title-fs);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
  }

  &__subscribers-text {
    text-align: center;
  }
}

.hero {
  &--blog {}

  &__container {}

  &__wrapper {}

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
  }

  &__backlink {
    display: block;
    font-size: 14px;
    color: var(--davysGrey-color);
    text-decoration: none;
    position: relative;
    padding-left: 24px;
    z-index: 3;
  }
  &__backlink::before{
    content: "";
    background-image: url("./../icons/arrow-left-blog.svg");
    width: 24px;
    height: 24px;
    left: -10px;
    top: 0;
    position: absolute;
  }
  &__date {}

  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {}

  &__tags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    column-gap: 6px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
  }

  &__social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &--twitter {
      background-image: url("./../icons/twitter-icon.svg");
    }

    &--instagram {
      background-image: url("./../icons/instagram-icon.svg");
    }

    &--tiktok {
      background-image: url("./../icons/tiktok-icon.svg");
    }
  }
}
