.news__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media only screen and (max-width: 1024px){
  .news__grid {
    grid-template-columns: 1fr;
  }
}
.news__link{
  display: inline-flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
}