.scribble-decor-orange,
.scribble-decor {
  position: relative;
}

.scribble-decor::after,
.scribble-decor-orange::after {
  position: absolute;
  right: 50%;
  bottom: -75px;
  z-index: 1;
  width: 150px;
  height: 150px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: translateX(50%);
}

.scribble-decor::after {
  background-image: url('./../img/black-scribble.svg');
}

.scribble-decor-orange::after {
  background-image: url('./../img/orange-scribble.svg');

}