.header {
    overflow: hidden;
    padding-top: 24px;
    background-color: var(--champagne-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header__row {
    display: flex;
    align-items: center;
    column-gap: 304px;
}

@media only screen and (max-width: 1128px) {
    .header__row {
        column-gap: 175px;
    }
}

.header__nav-list {
    display: flex;
    column-gap: 60px;
}

.header__nav-item {
    position: relative;
}

.header__nav-link {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    transition: all .2s ease;
}

.header__nav-item--arrow-down::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -50%;
    width: 16px;
    height: 16px;
    background-image: url('./../img/header/arrow-down.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.header__nav-link:hover {
    color: var(--vermillion-color);
}

.header__buttons {
    display: flex;
    gap: 20px;
}

.header__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: all .2s ease;
}

.header__link:hover {
    background-color: var(--vermillion-color);
    color: var(--white-color);
}

.header__link:active {
    transform: scale(0.9);
}

.header__link,
.header__button {
    height: 41px;
}

.header__mobile-button {
    position: relative;
    z-index: 4;
    display: none;
    width: 40px;
    height: 40px;
}

.header__mobile-line {
    top: 15px;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: var(--black-color);
    transition: all .2s ease;
}

.header__mobile-line:nth-child(1) {
    transform: translateY(-15px);
}

.header__mobile-line:nth-child(3) {
    transform: translateY(15px);
}

.header.open .header__mobile-line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__mobile-line:nth-child(2) {
    opacity: 0;
}

.header.open .header__mobile-line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

@media only screen and (max-width: 1024px) {
    .header__mobile-button {
        display: block;
    }

    .header__mobile-menu {
        position: absolute;
        top: 0px;
        right: -500px;
        z-index: 4;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        height: 100vh;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        transition: all .5s ease;
    }

    .header__nav {
        width: 100%;
    }

    .header__nav-list {
        flex-direction: column;
        margin-bottom: 40px;
        row-gap: 40px;
    }

    .header__nav-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 24px;
    }

    .header__buttons {
        flex-direction: column;
    }

    .header.open .header__mobile-menu {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 500px) {
    .header__mobile-menu {
        padding: 150px 10px 10px 10px;
        right: -250px;
        width: 250px;
    }
}