.hero {
    padding-top: 64px;
    padding-bottom: 140px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    background-image: url('../../img/hero/orange-scribble.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -75px;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    height: 150px;
    z-index: -1;
}

.hero__container {
    position: relative;
}

.hero__container::before {
    position: absolute;
    content: "";
    background-image: url('../../img/hero/shape-swirl.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 629px;
    height: 592px;
    left: -430px;
    top: -104px;
    z-index: -1;
}

.hero__container::after {
    position: absolute;
    content: "";
    background-image: url('../../img/hero/stars.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 155px;
    height: 217px;
    right: -65px;
    top: 73px;
}

.hero__title {
    max-width: 513px;
    margin-bottom: 40px;
}

.hero__description {
    max-width: 374px;
    margin-bottom: 60px;
}

.hero__title,
.hero__description,
.hero__button {
    margin-inline: auto;
}

.hero__button {
    display: block;
    margin-bottom: 120px;
}

.hero__support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1.5px solid var(--black-color);
    border-bottom: 1.5px solid var(--black-color);
}

.hero__support-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.hero__support-links {
    display: flex;

}

.hero__support-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 84px;
}

.hero__support-link--spotify {}

.hero__support-link--googlePodcasts {}

.hero__support-link--youtube {}