.hero {
    padding-top: 64px;
    position: relative;
    background-color: var(--champagne-color);
}

.hero__container {
    position: relative;
}

.hero__container::before {
    position: absolute;
    content: "";
    background-image: url('./../img/hero/shape-swirl.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 629px;
    height: 592px;
    left: -430px;
    top: -104px;
    z-index: 1;
}

.hero__container::after {
    position: absolute;
    content: "";
    background-image: url('./../img/hero/stars.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 155px;
    height: 217px;
    right: -65px;
    top: 73px;
}

@media only screen and (max-width: 570px) {
    .hero__container::before {
        width: 209px;
        height: 200px;
        left: -115px;
        top: 85px;
    }

    .hero__container::after {
        width: 90px;
        height: 110px;
        right: -5px;
        top: 162px;
    }
}

.hero__title {
    max-width: 513px;
    margin-bottom: 40px;
}

.hero__description {
    max-width: 374px;
    margin-bottom: 60px;
}

.hero__title,
.hero__description,
.hero__button {
    margin-inline: auto;
}

.hero__button {
    display: block;
    margin-bottom: 120px;
}

@media only screen and (max-width: 1023px) {
    .hero__button {
        margin-bottom: 80px;
    }
}

.hero__support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1.5px solid var(--black-color);
    border-bottom: 1.5px solid var(--black-color);
}

.hero__support-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.hero__support-links {
    display: flex;

}

.hero__support-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 84px;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;

}

.hero__support-link--spotify {
    background-image: url('./../icons/spotify-icon.svg');
}

.hero__support-link--googlePodcasts {
    background-image: url('./../icons/googlePodcasts-icon.svg');
}

.hero__support-link--youtube {
    background-image: url('./../icons/Youtube.svg');
}

@media only screen and (max-width: 1023px) {
    .hero__support {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .hero__support-links {
        flex-direction: column;
    }

    .hero {
        padding-bottom: 100px;
    }
}