.logo {
    display: inline-flex;
    column-gap: 24px;
}

.logo__link {
    display: block;
    background-image: url('./../img/logo.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
    position: relative;
    z-index: 3;
}

.logo__year {
    color: var(--davysGrey-color);
    font-size: 12px;
    line-height: 160%;
    align-self: end;
}