.podcast-slider {
    max-width: 1440px;
    height: 373px;
    margin-bottom: 120px;
}


.podcast-slider__card {
    width: 373px;
    border-radius: 12px;
}

.podcast-slider__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    text-decoration: none;
    padding: 20px;
}

.podcast-slider__link--1 {
    background-image: url('../../img/hero/slide-bg-1.png');
}

.podcast-slider__link--2 {
    background-image: url('../../img/hero/slide-bg-2.jpg');
}

.podcast-slider__link--3 {
    background-image: url('../../img/hero/silde-bg-3.jpg');
}

.podcast-slider__link--4 {
    background-image: url('../../img/hero/slide-bg-4.jpg');
}

.podcast-slider__link--5 {
    background-image: url('../../img/hero/slide-bg-5.jpg');
}

.podcast-slider__platform {
    display: flex;
    column-gap: 10px;
    align-self: flex-end;
    color: white;
}

.podcast-slider__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.08em;
    color: var(--pewterBlue-color);
}