.podcast-slider {
    max-width: 1440px;
    height: 373px;
    margin-bottom: 120px;
}


.podcast-slider__card {
    width: 373px;
    border-radius: 12px;
}

@media only screen and (max-width: 1024px) {
    .podcast-slider {
        height: 300px;
    }

    .podcast-slider__card {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .podcast-slider {
        height: 250px;
    }

    .podcast-slider__card {
        width: 250px;
    }
}