.quote {
    width: 100%;
    background-color: var(--champagne-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 136px;
    padding-bottom: 40px;
    position: relative;
}

.quote::before,
.quote::after {
    content: "";
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote::before {
    background-image: url('../../img/quote/swirl-decor.svg');
    width: 120px;
    height: 120px;
    left: -60px;
    bottom: 49px;
}

.quote::after {
    background-image: url('../../img/quote/star-decor.svg');
    width: 200px;
    height: 200px;
    top: -60px;
    right: -60px;
}

.quote__text {
    font-weight: 700;
    text-align: center;
    font-size: var(--quote-fs);
    margin-bottom: 40px;
    max-width: 708px;
    position: relative;
}

.quote__text::before {
    content: "“";
    position: absolute;
    font-size: 96px;
    color: var(--vermillion-color);
    top: -50px;
    right: 50%;
    transform: translateX(50%);
}

.quote__row {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.quote__author-name,
.quote__author-job {
    font-size: 14px;
}

.quote__author-job {
    display: flex;
    align-items: center;
    font-weight: 700;
    column-gap: 8px;
}